.cards {
    background-color: light-gray;
    margin: auto;
    margin-top: 30px;
}

.card-wins {    
    background-color: rgb(91, 184, 91);
    margin: auto;
    margin-top: 30px;
}

.brand-card-name {
    margin-top: 10px;
}

hr {
    width: 20%;
    margin: auto;
}

.points-card-name {
    font-size: 30px;
}